<div class="container mt-4">
  <h1 class="text-center mb-4">Recetas uniandes</h1>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let recipe of recipes">
      <div class="card h-100">
        <img [src]="recipe.imagen" class="card-img-top" alt="{{ recipe.nombre }}">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.nombre }}</h5>
          <button class="btn btn-primary" (click)="onSelect(recipe)">Ver receta</button>
        </div>
      </div>
    </div>
  </div>
</div>
