<div class="container mt-4">
  <h1 class="text-center mb-4">Recetas uniandes</h1>
  <div class="row">
    <div class="col-md-6">
      <img [src]="recipe.imagen" alt="{{ recipe.nombre }}" class="img-fluid rounded">
    </div>
    <div class="col-md-6">
      <h2>{{ recipe.nombre }}</h2>
      <h4>Ingredientes:</h4>
      <ul>
        <li *ngFor="let ing of recipe.ingredientes">
          {{ ing.nombre }} - {{ ing.cantidad }}
        </li>
      </ul>
      <h4>Pasos:</h4>
      <p>{{ recipe.pasos }}</p>
      <button class="btn btn-secondary mt-3" routerLink="/recipe">Volver</button>
    </div>
  </div>
</div>
